.mainContent {
    min-height: 100vh !important;
    background-color: var(--education-center-primary) !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)) !important;
    color: white !important;
}

.lightThemeBackground {
    background-image: url("../public/LightThemeBackground.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
  
.darkThemeBackground {
    background-color: var(--education-center-primary) !important;
}

.navDrawer {
    color: white !important;
}

.searchModal {
    background-color: rgba(0, 0, 0, 0) !important;
}

.filterDropdown {
    margin-top: 0.5% !important;
    z-index: 10000000000 !important;
}

.projectSearchModal {
    width: 100vw !important;
}

.projectTableRow {
    background-color: var(--education-center-secondary) !important;
}

.projectTableRowHover:hover {
    background-color: #3a3c4a !important;
    cursor: pointer !important;
}

.darkText {
    color: white !important;
}


.modalDark {
    background-color: #1d263b !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.modalLight {
    background-color: #eaeef3 !important;
}

.educationCenterIntroGrid {
    margin-top: 0.2% !important;
    padding-top: 3% !important;
    padding-bottom: 6% !important;
    text-align: center !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.projectListingIntroGrid {
    margin-top: 0.2% !important;
    padding-top: 3% !important;
    padding-bottom: 6% !important;
    text-align: center !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.sticky {
    min-width: 200px !important;
}

.cellWidth {
    min-width: 120px !important;
}

.projectLogo {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.bigBtnGrid {
    text-align: center !important;
}

.bigBtnText {
    background-color: var(--red-primary-color) !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    min-height: 300px !important;
}

.bigBtnDescriptionTextDark, .bigBtnDescriptionTextLight {
    font-size: 16px !important;
}

.bigBtnDescriptionTextLight {
    color: black !important;
}

.bigBtnDescriptionTextDark {
    color: white !important;
}

.customCard {
    border-radius: 7% !important;
    height: 350px !important;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    display: flex !important;
    align-items: center !important;
    cursor: pointer !important;
    transition: all ease 200ms !important;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03) !important;
}

.customCard:hover {
    transform: scale(1.03) !important;
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02) !important;
}

.customCardDark {
    background-color: rgba(29, 38, 59, 0.35) !important;
}
  
.customCardLight {
    background-color: rgba(234, 238, 243, 0.4) !important;
    border: 3px solid rgba(29, 38, 59, 0.05) !important;
}

.cardDiv {
    border-radius: 20px !important;
    cursor: pointer !important;
    transition: all ease 200ms !important;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03) !important;
}

.cardDiv:hover {
    transform: scale(1.03) !important;
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02) !important;
}

.headerText {
    padding-bottom: 1% !important;
    border-bottom: 5px solid var(--mint-primary-color) !important;
    font-size: 3rem !important;
    font-family: 'Source Serif Pro', Nunito Sans, Kanit, Merriweather Sans, sans-serif !important;
}

.toolbar {
    /*background-color: #5decff !important;*/
    background-color: black !important;
    color: white !important;
}

.testDiv {
    position: fixed !important;
}

.toolbarDiv {
    background-color: var(--education-center-primary) !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09)) !important;
    color: white !important;
    height: 80px !important;
    box-shadow: 0 4px 10px -2px #000000 !important;
    position: sticky !important;
    top: -16px !important;
    z-index: 100000 !important;
}

.logoImage {
    display: inline-block!important;
}

.navIcons {
    font-size: 20px !important;
    color: white !important;
}

.categoryBtn {
    font-size: 50px !important;
}

.checkBoxIcon {
    margin-right: 5% !important;
}

.categoryText {
    color: white !important;
}

.playCircleIcon {
    margin-right: 2% !important;
    color: white !important;
}

.resetProgressBtn {
    font-size: 15px !important;
}

.lengthText {
    margin-top: 5% !important;
}

.prevBtn {
    margin-right: 2% !important;
}

.nextBtn {
    margin-left: 2% !important;
}

/*
.videoBtn {
    background-color: rgba(63, 62, 62, 0.4) !important;
}
*/

.currSelected {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.reactPlayerContainer {
    position: relative !important;
    padding-top: 40% !important;
    /* padding-top: 56.25% !important; */ /* 720 / 1280 = 0.5625 */
}

.circularProgress {
    padding-left: 3.5% !important;
}

.cancelBtn {
    padding-right: 25% !important;
    padding-left: 40% !important;
}

.titleGrid {
    padding-left: 5% !important;
    padding-right: 5% !important;
    margin-top: 0.2% !important;
    margin-bottom: 3% !important;
}

.descriptionGrid {
    padding-left: 5% !important;
    padding-right: 5% !important;
    margin-top: 0.2% !important;
    margin-bottom: 3% !important;
}

.subCategory {
    padding-left: 8% !important;
}

.markCompleteBtn {
    margin-top: 3% !important;
    background-color: rgb(185, 185, 185) !important;
    color: black !important;
}

.reactPlayer {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}

.introBtnText {
    margin-top: 4% !important;
    margin-bottom: 4% !important;
}

.videoPlayerGrid {
    /*
    max-width: 100% !important;
    flex-basis: 100% !important;
    */
    display: flex !important;
    justify-content: center !important;
}

.title {
    margin-top: 2% !important;
    text-align: center !important;
}

.descriptionHeader {
    text-align: left !important;
    margin-bottom: 2% !important;
}

.description {
    text-align: left !important;
}

.discordUserNameModal {
    z-index: 1000000000 !important;
}

.modalHeader {
    background-color: rgb(206, 237, 247, 0.8) !important;
}

.modalSecondaryHeader {
    margin-bottom: 5% !important;
}

.modalBody {
    background-color: rgb(206, 237, 247, 0.8) !important;
    text-align: center !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}

.modalHeaderText {
    color: var(--red-primary-color) !important;
    text-align: center !important;
    margin-bottom: 2% !important;
}

.modalHeaderText2 {
    color: black !important;
    text-align: center !important;
}

.textField {
    margin-bottom: 5% !important;
    width: 100% !important;
}

.snackBar {
    z-index: 10000000 !important;
}

.insightsHeaderText {
    padding-bottom: 1% !important;
    font-size: 3rem !important;
    font-family: 'Source Serif Pro', Nunito Sans, Kanit, Merriweather Sans, sans-serif !important;
}

.leftTextAlign {
    text-align: left !important;
}

.feedItem {
    text-align: left !important;
    padding-bottom: 3% !important;
    margin-bottom: 2% !important;
    border-bottom: 2px solid white !important;
}

.limitHeight {
    max-height: 800px !important;
    max-width: 250% !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    padding-right: 2% !important;
}

.projectBtns {
    background-color: #4a4a4a !important;
    margin-right: 2% !important;
    color: #d1d1d1 !important;
}

.projectAboutBtns {
    background-color: rgba(0, 255, 200, 0.6) !important;
    border-radius: 20px !important;
    margin-right: 1% !important;
    margin-left: 1% !important;
    color: #d1d1d1 !important;
    width: 250px !important;
    padding-top: 1.2% !important;
    padding-bottom: 1% !important;
}

.largeProjectAboutBtn {
    width: 300px !important;
}

.contractText {
    font-size: 13px !important;
}

.metaMaskLogo {
    margin-top: 10% !important;
}

.chartBtn {
    background-color: #4a4a4a !important;
    border-radius: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-right: 9px !important;
    margin-left: 9px !important;
}

.selectedChartBtn {
    background-color: rgba(0, 255, 200, 0.7) !important;
    color: #d1d1d1 !important;
}

.projectAboutBtns:hover {
    background-color: rgba(0, 255, 200, 0.8) !important;
}

.projectBtns:hover {
    background-color: #333333 !important;
}

.tagBtn {
    background-color: rgba(0, 255, 200, 0.6) !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    color: white !important;
    border-radius: 20px !important;   
    padding: 8px 7px !important; 
}

.feedbackBtn {
    background-color: rgba(0, 255, 200, 0.8) !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    color: rgb(87, 87, 87) !important;
    border-radius: 20px !important;   
    padding: 8px 7px !important; 
    width: 150px !important;
}

.selectedTagBtn {
    background-color: rgba(0, 255, 200, 0.7) !important;
}

.search {
    padding: 12px 10px !important;
    padding-bottom: 14px !important;
    padding-top: 11px !important;
    display: inline !important; 
    width: 150px !important;
    border-radius: 20px !important;
    margin-left: 10px !important;
}

.searchMobile {
    margin-top: 3% !important;
}

.projectCategories {
    padding: 5px !important;
    background-color: #575757 !important;
    margin-right: 1.5% !important;
    border-radius: 10px !important;
}

.projectCategoryBtn {
    background-color: #575757 !important;
    color: white !important;   
    border-right: none !important;
    border-left: none !important;
    margin-right: 1% !important;
    margin-left: 1% !important;
    border-radius: 10px !important;
}

.selectedProjectCategoryBtn {
    background-color: rgba(0, 255, 200, 0.7) !important;
}

.searchGrid {
    color: white !important;
    display: flex !important;
    justify-content: center !important;
}

.tablePagination {
    display: flex !important;
    border-bottom: none !important;
}

.projectNameText {
    font-size: 16px !important;
}

.projectSearchGrid {
    margin-top: 0.2% !important;
    padding-top: 3% !important;
    padding-bottom: 6% !important;
    text-align: center !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    min-height: 40vh !important;
}

.projectImage {
    margin-left: 2% !important;
}

.marketDataGrid {
    text-align: left !important;
    padding-left: 20% !important;
}

.marketDataDiv {
    padding-bottom: 5px !important;
    border-bottom: 1px solid rgba(234, 238, 243, 0.4) !important;
}

.marketDataTitleText {
    color: lightgray !important;
}

.marketDataText {
    float: right !important;
}

.tokenPriceText {
    font-size: 32px !important;
}

.projectTokenText {
    font-size: 20px !important;
}

.percentageText {
    font-size: 15px !important;
}

.percentageTextLarge {
    font-size: 18px !important;
}

.iconSize {
    font-size: 1.75rem !important;
}

.twitterBtn {
    background-color: #1DA1F2 !important;
    border-radius: 20px !important;
}

.twitterBtn:hover {
    color: #d1d1d1 !important;
}

.twitterIcon {
    color: #1DA1F2 !important;
    margin-right: 2% !important;
}

.twitterBtn:hover {
    color: #d1d1d1 !important;
}

.discordIcon {
    color: #7289DA !important;
    margin-right: 2% !important;
}

.discordBtn {
    background-color: #7289DA !important;
    border-radius: 20px !important;    
}

.discordBtn:hover {
    color: #d1d1d1 !important;
}

.youtubeIcon {
    color: #FF0000 !important;
    margin-right: 2% !important;
}

.youtubeBtn {
    background-color: #FF0000 !important;
    border-radius: 20px !important;    
}

.youtubeBtn:hover {
    color: #d1d1d1 !important;
}

.telegramIcon {
    color: #0088CC !important;
    margin-right: 2% !important;
}

.mediumIcon {
    margin-right: 2% !important;
}

.mediumBtn {
    background-color: white !important;
    color: black !important;
    border-radius: 20px !important;       
}

.mediumBtn:hover {
    color: #515151 !important;
}

.socialOptionBtn {
    color: white !important;
    border-radius: 12px !important;
    padding: 10px 25px !important;
}

.backUpBtn {
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    color: white !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.backUpBtn:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgb(171, 169, 169) !important;
}

.socialOptionBtn:hover {
    color: rgb(193, 193, 193) !important;
    background-color: rgba(0, 255, 200, 0.5) !important;
}

.selectedSocialBtn {
    background-color: rgba(0, 255, 200, 0.5) !important;
}

.chartBtnGrid {
    margin-top: 7% !important;
    margin-bottom: -1% !important;
}

.chartDiv {
    height: 500px !important;
}

.hideChartDiv {
    display: none !important;
}

@media (max-width: 1500px) {
    .optionMargin {
        margin: 2% !important;
    }
}

@media (max-width: 1200px) {
   .descriptionHeader {
       margin-top: 3% !important;
   } 

   .marketDataGrid {
        padding-left: 5% !important;
    }
}

@media (max-width: 1200px) {
    .reactPlayerContainer {
        padding-top: 56.25% !important; /* 720 / 1280 = 0.5625 */
    }
}

@media (max-width: 1100px) {
    .largeScreenCell {
        display: none !important;
    }
}

@media (min-width: 1100px) {
    .smallScreenCell {
        display: none !important;
    }
}

@media (max-width: 900px) {
    .desktopImage {
        display: none !important;
    }
}

@media (min-width: 900px) {
    .mobileImage {
        display: none !important;
    }
}

@media (max-width: 750px) {
    .descriptionHeader {
        text-align: center !important;
    }

    .description {
        text-align: center !important;
    }

    .resetProgressBtnLarge {
        display: none !important;
    }

    .projectImage {
        display: none !important;
    }

    .feedItem {
        padding-bottom: 8% !important;
    }

    .projectListingIntroGrid {
        padding-left: 0.4rem !important;
        padding-right: 0.4rem !important;
    }

    .projectLogo {
        width: 40px !important;
        height: 40px !important;
    }

    .projectNameText {
        font-size: 14px !important;
    }

    .cellWidth {
        min-width: 100px !important;
        max-width: 100px !important;
    }

    .sticky {
        min-width: 175px !important;
        position: sticky !important;
        left: 0 !important;
        background: var(--education-center-secondary) !important;
    }

    .marketCapNumber {
        display: none !important;
    }
}

@media (min-width: 750px) {
    .resetProgressBtnSmall {
        display: none !important;
    }

    .projectImageMobile {
        display: none !important;
    }
}

@media (min-width: 690px) {
    .searchMobile {
        display: none !important;
    }
}

@media (max-width: 690px) {
    .searchDesktop {
        display: none !important;
    }

    .socialOptionBtn {
        color: white !important;
        border-radius: 12px !important;
        padding: 8% 14% !important;
    }
}

@media (max-width: 500px) {
    .projectLogo {
        width: 30px !important;
        height: 30px !important;        
    }
}