.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    /*border-top: 1px solid #eaeaea;*/
    justify-content: center;
    align-items: center;
}

.lightFooter {
    background-color: var(--education-center-primary) !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)) !important;
}
  
.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.darkThemeFooter {
    color: white !important;
}