:root {
  --dark-theme-primary-color: #1649ff;
  --light-theme-primary-color: #70c1ff;
  --red-primary-color: #ff0000;
  --education-center-primary: #0f1220;
  --education-center-secondary: #242634;
  --mint-primary-color: #00FFC8;
}

/*
@font-face {
  font-family: 'maritime_tropicalmedium';
  src: url('../font/maritime_tropical-webfont.woff2') format('woff2'),
       url('../font/maritime_tropical-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'maritime_tropicalbold';
  src: url('../font/maritime_tropical_bold-webfont.woff2') format('woff2'),
       url('../font/maritime_tropical_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/

html,
body {
  padding: 0;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  font-family: Nunito Sans, Kanit, Merriweather Sans, sans-serif, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue !important;
}

h1 {
  font-size: 3rem !important;
}

h2 {
  font-size: 1.5rem !important;
}

h3 {
  font-size: 1.25rem !important;
  line-height: 1.6 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hide {
  display: none !important;
}

.hideEmojiPicker .EmojiPickerReact {
  display: none !important;
}

.dropdown-toggle {
  margin-top: 2% !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
}

.mainPaper {
  overflow-x: hidden !important;
}

.MuiButton-outlinedPrimary {
  border: 2px solid var(--mint-primary-color) !important;
}

.MuiButton-outlinedPrimary:hover {
  color: var(--mint-primary-color) !important;
}

.vertical-timeline-element-right span.vertical-timeline-element-date {
  left: 125% !important;
}

.timeline-dark-theme span.vertical-timeline-element-date {
  color: white !important;
}

.timeline-light-theme span.vertical-timeline-element-date {
  color: black !important;
}

.vertical-timeline-element-content {
  box-shadow: 0 3px 0 var(--mint-primary-color) !important;
}

.timeLineNoBottomLine .vertical-timeline-element-content {
  box-shadow: none !important;
}

.timeline-dark-theme::before, .timeline-light-theme::before {
  background: var(--mint-primary-color) !important;
}

.timeline-dark-theme .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px var(--mint-primary-color) !important;
  background-color: rgba(29, 38, 59, 0.98) !important;
}

.timeline-light-theme .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px var(--mint-primary-color) !important;
  background-color: rgba(142, 238, 255) !important;
}

.timelineNoLine {
  box-shadow: 0 3px 0 #00ff00 !important;
}

.educationCenterBox .MuiToolbar-gutters {
  background-color: var(--education-center-primary) !important;
  background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09)) !important;
  margin-right: 0px !important;
}

.educationCenterBox .css-35bhkg-MuiPaper-root-MuiAppBar-root {
  background-color: black !important;
  box-shadow: 0 4px 2px -2px #000000 !important;
}

.educationCenterBox .MuiDrawer-paper {
  background-color: var(--education-center-primary) !important;
  box-shadow: 2px 0 10px -5px #000000 !important;
}

.EducationCenter_drawerContainer__tlsws .MuiDrawer-paper {
  background-color: var(--education-center-primary) !important;
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09)) !important; */
  box-shadow: 2px 0 10px -5px #000000 !important;
}

.css-h4y409-MuiList-root {
  padding-top: 0 !important;
}

.introBtn .MuiListItemText-primary {
  font-size: 18px !important;
}

.loadingText .MuiListItemText-primary {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  font-size: 18px !important;
}

.categoryBtn {
  background-color: rgba(63, 62, 62, 0.4) !important;
  border-top: 2px rgba(0, 0, 0, 0.4) solid !important;
  border-bottom: 2px rgba(0, 0, 0, 0.4) solid !important;
}

/*
.subCategoryBtn {
  border-bottom: 5px rgba(0, 0, 0, 0.4) solid !important;
}
*/

.categoryBtn .MuiListItemText-primary {
  font-size: 18px !important;
  margin-bottom: 3% !important;
}

.subCategoryBtn .MuiListItemText-primary {
  font-size: 18px !important;
  margin-bottom: 3% !important;
}

.videoBtn .MuiListItemText-primary, .channelBtn .MuiListItemText-primary {
  margin-bottom: 3% !important;
}

.videoPlayer {
  margin-left: auto !important;
  margin-right: auto !important;
}

.MuiTablePagination-toolbar p {
  margin-top: 14px !important;
}

.MuiAutocomplete-paper {
  background-color: white !important;
}

.MuiMenu-list {
  background-color: white !important;
}

.MuiMenu-list {
  background-color: rgba(29, 38, 59, 0.35) !important;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0) !important;
}

.signInModal {
  border-radius: 3% !important;
  overflow: hidden !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--mint-primary-color);
}

.MuiAppBar-root {
  box-shadow: 0 6px 6px -6px black !important;
}

.boldText {
  font-weight: 800 !important;
}

.MuiDrawer-paperAnchorLeft {
  z-index: 100 !important;
}

.mediumImages img {
  width: 100% !important;
  height: 100% !important;
}

.projectSearchModal {
  z-index: 1000000000 !important;
  width: 95vw !important;
  max-width: 95vw !important;
}

.finishAccountCreationModal {
  z-index: 1000000000 !important;
  width: 80vw !important;
  max-width: 80vw !important;
}

.modal {
  z-index: 100000000 !important;
}

.MuiTooltip-popper, .MuiTooltip-tooltip, .MuiTooltip-tooltipPlacementTop {
  z-index: 10000000000 !important;
}

.modebar-container {
  display: none !important;
}

.Mui-focused {
  border: none !important;
}

.accountDropDownMenu .MuiList-padding {
  padding-bottom: 0 !important;
}

.communityDrawer .MuiList-root {
  max-height: 82vh !important;
  overflow-y: auto !important;
}

.disabledChat textarea {
  color: rgb(114, 114, 114) !important;
}

@media (max-width: 800px) {
  .communityDrawer .MuiList-root {
    max-height: 80vh !important;
  }
}

@media (max-width: 650px) {
  .mobileSnackbarTextSize {
      font-size: 12px !important;
  }
}

@media (min-width: 1000px) {
  /* width */
  ::-webkit-scrollbar {
    width: 7px !important;
    border: 4px solid transparent !important;
    border-radius: 3px !important;
    background-clip: padding-box !important;  
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1 !important; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888 !important; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555 !important; 
  }
}

.lightThemeNav .dropdown-menu {
  background-color: #25c9df !important;
}

.darkThemeNav .dropdown-menu {
  background-color: white !important;
}

.dropdown-item:hover {
  background-color: rgb(167, 231, 247) !important;
}

@media (max-width: 500px) {
  .dropdown-menu {
    margin-right: 2% !important;
    background-color: #5decff !important;
  }
}

@media (max-width: 500px) {
  .projectSearchModal, .finishAccountCreationModal {
      width: 100vw !important;
      max-width: 100vw !important;
      margin: 0 !important;
      padding: 0 !important;
  }
}